//
//  Production.xcconfig
//  MusalaTask
//
//  Created by ispha on 22/06/2021.
//  Copyright © 2021 ispha. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-MusalaTask/Pods-MusalaTask.release (production).xcconfig"
// Server URL
ROOT_URL = https:/$()/www.metaweather.com/api/location/
IMG_URL = https:/$()/www.metaweather.com/static/img/weather/png/_abbr_.png

// App Settings
APP_NAME = MusalaTask
APP_BUNDLE_ID = ispha.come.MusalaTask
